{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Buddyjski Ośrodek Medytacyjny{% endblock title %}</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/playfair_display_fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/montserrat_fonts.css' %}">
    
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>

    <nav class="side-menu" id="side-menu">
        <button class="close-menu-btn" id="close-menu-btn">&times;</button>
        <div class="main-menu-content">
            <ul class="main-menu-links">
                {# PRZYWRÓCONY LINK DO STRONY GŁÓWNEJ #}
                <li><a href="{% url 'home' %}">Strona Główna</a></li>
                
                {% for page in all_pages %}
                    {% if page.is_published %}
                    <li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="{% url 'news:archive_all' %}">Archiwum</a></li>
            </ul>
            <div class="toc-container" id="toc-container"></div>
        </div>
    </nav>

    <header class="site-header">
        {% include 'header.html' %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="site-footer-placeholder">
        {% include 'footer.html' %}
    </footer>

    <script src="{% static 'js/menu.js' %}"></script>
    {% block extra_body %}{% endblock extra_body %}
</body>
</html>