{# templates/header.html #}

{% load static %}
{% load news_filters %}

<header>
    <div class="burger-wrap">
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    {# Logo w headerze zgodnie z CSS, jeśli ma być tam #}
    {# Zrzuty ekranu sugerują, że logo obok burgera jest inne niż logo w linii.
       Użyję logo ośrodka tutaj, a logo Karma Kagyu w #line-header.
       Sprawdź, które logo chcesz w tym miejscu.
    #}
    <a class="navbar-brand ms-auto order-lg-last" href="{% url 'home' %}">
        {% if header_content and header_content.logo %}
            <img src="{{ header_content.logo.url }}" alt="Logo Ośrodka" height="60">
        {% else %}
            {# Placeholder - upewnij się, że masz to logo lub usuń #}
            <img src="{% static 'img/logo_placeholder.png' %}" alt="Logo" height="60">
        {% endif %}
    </a>
</header>